*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/*___________________*/

body {
    background: url(./backgrounds/default.jpg) 0 0/cover no-repeat;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;

    background-color: rgba(0, 0, 0, 0.445);
    font-family: 'Open Sans', sans-serif;
    /* background-image: url('https://source.unsplash.com/2000x950/?nature,water'); */
}

.overColor {
    background-color: #000000d0;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 40%;
    z-index: -100;
    
}

.cont {
    background-color: #000000d0;
    color: #fff;
    padding: 2em;
    width: 100%;
    max-width: 500px;
    border-radius: 20px;
    font-size: 20px;
    min-width: 450px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.5em;
    border: none;
    background: transparent center center no-repeat;
    background-color: #7c7c7c2b;
    padding: 10px;
    border-radius: 20px;
}

input {
    padding: 8px;
    width: 400px;
    border-radius: 15px;
    background-color: #7c7c7c2b;
    color: #fff;
    font-size: 30px;
}

.city {
    font-size: 35px;
}

.temp {
    font-size: 30px;
}

.desc {
    display: flex;
}